/* WatchEveryWhere.module.css */

.container {
  height: 550px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hstack {
  spacing: 8;
}

.textBox {
  padding-left: 170px;
}

.heading {
  line-height: 2;
  font-size: 2.5rem;
  font-weight: 900;
}

.text {
  font-size: 1.3rem;
  font-weight: 400;
}

.imageBox {
  width: 40%;
}

.borderBox {
  border: 4px solid #262626; /* Adjust the color and thickness as needed */
}
